<nav class="w-full z-20 top-0 start-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4" style="min-height: 72px;">

        <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://www.cinesa.es/media/rynf4t5q/logo-cinesa-blanco.png" alt="Logo" width="128px"
                height="auto">
        </a>

        <div class="flex lg:order-2 space-x-3 lg:space-x-0 rtl:space-x-reverse">
            <div class="flex gap-5 media-max-width-lg font-medium">
                <button data-modal-target="login-modal" data-modal-toggle="login-modal" type="button">
                    <p class="nav-link">Inicia sesión</p>

                </button>
                <button data-modal-target="register-modal" data-modal-toggle="register-modal" type="button">
                    <p class="nav-link">Regístrate</p>

                </button>
            </div>

            <button data-collapse-toggle="navbar-sticky" type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15" />
                </svg>
            </button>
        </div>

        <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-sticky">
            <ul
                class="flex flex-col font-medium p-4 lg:p-0 mt-4 lg:mt-0 lg:space-x-4 xl:space-x-10 rtl:space-x-reverse lg:flex-row">
                @for (pagina of paginas; track $index) {
                <li>
                    <a [routerLink]="pagina.ruta" class="nav-link"
                        [routerLinkActive]="['active-route']">{{pagina.nombre}}</a>
                </li>

                }
                <li class="lg:hidden">
                    <div class="flex flex-wrap">
                        <button data-modal-target="login-modal" data-modal-toggle="login-modal" type="button">
                            <p class="nav-link">Inicia sesión</p>
                        </button>

                        <button data-modal-target="register-modal" data-modal-toggle="register-modal" type="button">
                            <p class="nav-link">Regístrate</p>
                        </button>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</nav>