<div class="container">

    <div class="relative w-full h-[300px] md:h-[500px]">
        <img src="https://www.cinesa.es/media/hlyh3wa1/promo_snippet_membership_1680x420_v2.jpg?width=1900&height=500&v=1d9eae739178d10"
            class="object-cover w-full h-full" alt="Banner image">

    </div>

    <div class="max-w-screen-xl mx-auto px-5 mt-20">

        <div class="text-center">
            <div class="flex justify-center mb-5">
                <h1 class="text-4xl sm:text-5xl font-semibold">¡VIVE EL CINE SIN LÍMITES Y CON VENTAJAS EXCLUSIVAS!
                </h1>
            </div>

            <p class="text-lg">Disfruta de descuentos, regalos y contenido exclusivo. Sea con myCINESA o UNLIMITED,
                tenemos un programa que se adapta a cada cinéfilo. ¡Regístrate hoy mismo para acceder a un increíble
                mundo de ventajas! </p>

        </div>

        <section class="mt-20">

            <div class="flex justify-center text-center mb-10">
                <h1 class="text-2xl sm:text-3xl font-semibold">¡DESCUBRE NUESTROS PROGRAMAS DE FIDELIZACIÓN!</h1>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
                <div class="flex flex-col">

                    <img src="https://www.cinesa.es/media/zvuo5wt0/banners-programas-mycinesa.jpg" width="100%"
                        height="auto" class="programa-image" />

                    <div class="flex flex-col justify-between gap-5 h-full mt-5">

                        <h1 class="text-xl sm:text-2xl">Formar parte del mundo del cine nunca había sido tan fácil.
                        </h1>
                        <p class="sm:text-lg">Ser myCINESA significa disfrutar del cine por menos y tener acceso a una
                            gran cantidad de ventajas y a una experiencia más personalizada. No solo la compra de
                            entradas será más rápida y sencilla, sino que también pagarás menos por más gracias a las
                            promociones exclusivas para miembros myCINESA.</p>
                        <div class="flex justify-center">
                            <button class="button text-lg font-medium" routerLink="/">Ventajas myCINESA</button>

                        </div>

                    </div>
                </div>

                <div class="flex flex-col">

                    <img src="https://www.cinesa.es/media/jbjdiqls/banners-programas-unlimited.jpg" width="100%"
                        height="auto" class="programa-image" />

                    <div class="flex flex-col justify-between gap-5 h-full mt-5">

                        <h1 class="text-xl sm:text-2xl">¡Ven a ver las películas que quieras, una y otra vez!</h1>
                        <p class="sm:text-lg">El programa UNLIMITED es tu pasaporte para ver todas las películas que
                            quieras. Te permitirá vivir aventuras y emociones que nunca habías imaginado. Además, podrás
                            beneficiarte de muchas otras ventajas, desde 15,90 € al mes.</p>

                        <small>*Debes tener más de 18 años para suscribirte al programa UNLIMITED CARD</small>

                        <div class="flex justify-center">
                            <button class="button text-lg font-medium" routerLink="/">Vive el cine sin límites</button>

                        </div>

                    </div>
                </div>

            </div>


        </section>

    </div>

</div>