<app-banner />

<div class="container mx-auto mt-10 px-5 max-w-screen-xl">

    <app-top-peliculas />

    <section class="mt-20">
        <div class="flex justify-center text-center mb-10">
            <h1 class="text-2xl sm:text-3xl font-semibold">DESCUBRE NUESTRAS SALAS PREMIUM</h1>
        </div>

        <div class="promo-banner-image relative w-full h-[350px] md:h-[420px]">
            <img src="https://www.cinesa.es/media/13ahqn3r/banner-plf-1324x420.jpg?height=420"
                class="object-cover w-full h-full" alt="Banner image">
            <div class="absolute top-1/2 translate-y-[-50%] z-10">
                <div class="px-5 max-w-96">
                    <h1 class="text-2xl mb-4">Salas Premium
                    </h1>
                    <p class="mb-4">IMAX, ISENSE, DBOX, SCREENX... Conoce todos los detalles de las salas de cine
                        premium más
                        exclusivas. Todo a tu alcance para hacer de tu visita al cine una experiencia única.</p>

                    <a href="#" class="text-lg link">
                        <p>Descubre todas las salas premium de Cinesa</p>
                    </a>

                </div>

            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex justify-center text-center mb-10">
            <h1 class="text-2xl sm:text-3xl font-semibold">PELÍCULAS EN VERSIÓN ORIGINAL</h1>
        </div>

        <div class="promo-banner-image relative w-full h-[350px] md:h-[420px]">
            <img src="https://www.cinesa.es/media/5dxbfzmk/cabecera-2880x600-sep2024.jpg?height=420"
                class="object-cover w-full h-full" alt="Banner image">
            <div class="absolute top-1/2 translate-y-[-50%] z-10">
                <div class="px-5 max-w-96">
                    <h1 class="text-2xl mb-4">¿Prefieres ver las películas en versión original?

                    </h1>
                    <p class="mb-4">Bitelchús Bitelchús, No hables con extraños... En Cinesa, encontrarás tus títulos
                        preferidos también en Versión Original Subtitulada al Español.</p>

                    <a href="#" class="text-lg link">
                        <p>Más información sobre VOSE</p>
                    </a>

                </div>

            </div>
        </div>

    </section>

    <section class="mt-20">
        <div class="flex justify-center text-center mb-10">
            <h1 class="text-2xl sm:text-3xl font-semibold">OFERTAS Y SORTEOS
            </h1>

        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-5">

            @for (promocion of promociones; track $index) {
            <div class="flex flex-col bg-white">

                <img [src]="promocion.imagen" width="100%" height="auto" class="promo-image" />

                <div class="flex flex-col justify-between h-full p-5">
                    <div>
                        <h5 class="mb-5 text-2xl font-semibold tracking-tight text-gray-900">{{promocion.titulo}}</h5>
                        <p class="mb-5 text-lg text-gray-700">{{promocion.descripcion}}</p>
                        <p class="mb-5 text-lg text-gray-700">{{promocion.finalizacion}}</p>
                    </div>

                    <div> <a [href]="promocion.enlace"
                            class="inline-flex items-center text-center text-lg font-medium link">
                            ¡Participar!
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                            </svg>
                        </a></div>


                </div>
            </div>
            }

        </div>

    </section>


</div>